.box{
   background-color: rgb(232, 237, 242);
   margin: 50px;
   padding: 50px;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cars-detail{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 90%;
   margin: 0 auto;
   margin-bottom: 50px;
}

img{
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   margin-right: 50px;
}

.text{
   padding-top: 20px;
}

h1{
   font-size: 34px;
   font-weight: bolder;
}