.box{
   background-color: rgb(232, 237, 242);
   padding: 50px;
   width: 80%;
   margin: 0 auto;
   margin-top: 20px;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input{
   margin-bottom: 30px;
}

.ms-1{
   margin-bottom: 50px;
}